@import "spectre/spectre";
@import "spectre/spectre-icons";
@import "pickr";
@import "_tabs";

header.p-sticky {
    top: 0;
    z-index: 1;
}

.contenttab {
    display: none;
}

#ledorder {
    ul {
        margin-left: 0;

        li {
            list-style-type: none;
            border: $border-width solid $border-color;
            border-radius: $border-radius;
        }
    }
}