@import "spectre/spectre";
// @import "spectre/spectre-icons";
@import "spectre/spectre-exp";

header.p-sticky {
    top: 0;
    z-index: 1;
}

.contenttab {
    display: none;
}


#led-layout {
    height: 2rem;
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    line-height: 1.2em;


    @for $index from 2 through 3 {
        &>div:nth-of-type(#{$index}) {
            margin-top: .666rem * ($index - 1);
        }

    }

    .led-layout-block {
        position: absolute;
        height: .666em;
    }
}