//- .toast.toast-error.my-2
//-     span ENABLE JAVASCRIPT TO CONFIGURE THE CLOCK
header.navbar.col-12.p-sticky
    section.navbar-section
    section.navbar-section
        button.btn.btn-primary.input-group-btn.my-2 #{$i18n.savebutton}

p #{$i18n.description}