.bar
    .bar-item.tooltip(data-tooltip='25%') 25%
    .bar-item.tooltip(data-tooltip='25%') 25%

fieldset.form-horizontal
    ul.sortable

        li bla
        li blubb
        li bla
        li bla
        li bla