.modal#modalreset
    a.modal-overlay(href='#close', aria-label="Close" rv-on-click='toggleResetModal')
    .modal-container(role='document')
        .modal-header
            a.btn.btn-clear.float-right(href='#close', aria-label="Close" rv-on-click='toggleResetModal')
            .modal-title.h4 ${{ index.sysconfig.reset.title }}$
        .modal-body
            .content
                p ${{ index.sysconfig.reset.description }}$
                    .columns
                        .col-6.column
                            button.btn.btn-lg.modal-reset-toggle(rv-on-click='toggleResetModal') ${{ index.sysconfig.reset.cancel }}$
                        .col-6.column
                            button.btn.btn-error.btn-lg.float-right(onclick='getData("reset")') ${{ index.sysconfig.reset.confirm }}$