ul.tab.tab-block
    li.tab-item.active
        a(href="#timeconfig") #{$i18n.nav.timeconfig}
    li.tab-item
        a(href="#dateconfig") #{$i18n.nav.dateconfig}
    li.tab-item
        a(href="#ledconfig") #{$i18n.nav.ledconfig}
    li.tab-item
        a(href="#sysconfig") #{$i18n.nav.sysconfig}
