ul.tab.tab-block
    li.tab-item.active#colorconfig-tab
        a(href="#colorconfig", onclick='return false;') ${{ index.nav.color }}$
    li.tab-item#ledconfig-tab
        a(href="#ledconfig", onclick='return false;') ${{ index.nav.time }}$
    li.tab-item#sysconfig-tab
        a(href="#sysconfig", onclick='return false;') ${{ index.nav.sys }}$

