input(name='tabs',checked='checked', id='timesettings', type='radio')
input(name='tabs',id='datesettings', type='radio') 
input(name='tabs',id='ledsettings', type='radio')

nav
    label(for='timesettings') #{$i18n.nav.timesettings}
    label(for='datesettings') #{$i18n.nav.datesettings}
    label(for='ledsettings') #{$i18n.nav.ledsettings} 