ul.tab.tab-block
    li.tab-item.active#timeconfig-tab
        a(href="#timeconfig") ${{ index.nav.timeconfig }}$
    li.tab-item#dateconfig-tab
        a(href="#dateconfig") ${{ index.nav.dateconfig }}$
    li.tab-item#ledconfig-tab
        a(href="#ledconfig") ${{ index.nav.ledconfig }}$
    li.tab-item#sysconfig-tab
        a(href="#sysconfig") ${{ index.nav.sysconfig }}$
