ul.tab.tab-block
    li.tab-item.active#timeconfig-tab
        a(href="#timeconfig") #{$i18n.nav.timeconfig}
    li.tab-item#dateconfig-tab
        a(href="#dateconfig") #{$i18n.nav.dateconfig}
    li.tab-item#ledconfig-tab
        a(href="#ledconfig") #{$i18n.nav.ledconfig}
    li.tab-item#sysconfig-tab
        a(href="#sysconfig") #{$i18n.nav.sysconfig}
