doctype html
html#app
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link(rel="icon", href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⏰</text></svg>")
    title(rv-text='config.hostname') ESP-CLOCK
    link(href="./styles.css", rel="stylesheet")
  body(lang="${{ index.langcode }}")
    .container.grid-sm
      .columns
        block layout
    script(src="./scripts.js") 